USE [master]
GO
/****** Object:  Database [QLQuanLau]    Script Date: 28-May-23 9:20:37 AM ******/
CREATE DATABASE [QLQuanLau]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLQuanLau].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLQuanLau]
GO
/****** Object:  Table [dbo].[BANAN]    Script Date: 28-May-23 9:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANAN](
	[MABAN] [varchar](5) NOT NULL,
	[TENBAN] [nvarchar](50) NOT NULL,
	[COKHACH] [bit] NOT NULL CONSTRAINT [DF_BANAN_ConTrong]  DEFAULT ((0)),
	[XOA] [bit] NOT NULL CONSTRAINT [DF_BanAn_Xoa]  DEFAULT ((0)),
 CONSTRAINT [PK_BanAn] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 28-May-23 9:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MAMONAN] [varchar](5) NOT NULL,
	[TENMON] [nvarchar](100) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[KICHTHUOC] [bit] NOT NULL CONSTRAINT [DF_CTHOADON_KICHTHUOC]  DEFAULT ((1)),
	[GIA] [float] NOT NULL,
	[THANHTIEN] [float] NOT NULL,
	[XOA] [bit] NOT NULL CONSTRAINT [DF_CTHOADON_XOA_1]  DEFAULT ((0)),
 CONSTRAINT [PK_CTHOADON_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 28-May-23 9:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL CONSTRAINT [DF_HOADON_NgayLap]  DEFAULT (getdate()),
	[MANVLAPDON] [varchar](10) NOT NULL,
	[MABAN] [varchar](5) NOT NULL,
	[TONGTIEN] [float] NOT NULL,
	[THANHTOAN] [bit] NOT NULL CONSTRAINT [DF_HOADON_TrangThai]  DEFAULT ((0)),
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 28-May-23 9:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMONAN] [varchar](5) NOT NULL,
	[TENMON] [nvarchar](100) NOT NULL,
	[KICHTHUOC] [bit] NOT NULL CONSTRAINT [DF_MONAN_KICHTHUOC]  DEFAULT ((1)),
	[GIA] [float] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[LOAIMONAN] [bit] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL CONSTRAINT [DF_MONAN_TRANGTHAI]  DEFAULT ((1)),
	[XOA] [bit] NOT NULL CONSTRAINT [DF_MONAN_XOA]  DEFAULT ((0)),
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28-May-23 9:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[CMND] [char](12) NOT NULL,
	[CHUCVU] [bit] NOT NULL CONSTRAINT [DF_NHANVIEN_ChucVu]  DEFAULT ((1)),
	[XOA] [bit] NOT NULL CONSTRAINT [DF_NHANVIEN_Xoa]  DEFAULT ((0)),
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 28-May-23 9:20:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](20) NOT NULL,
	[MATKHAU] [char](32) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[XOA] [bit] NOT NULL CONSTRAINT [DF_TAIKHOAN_XOA]  DEFAULT ((0)),
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANAN] ([MABAN], [TENBAN], [COKHACH], [XOA]) VALUES (N'B0001', N'BA-01', 1, 0)
INSERT [dbo].[BANAN] ([MABAN], [TENBAN], [COKHACH], [XOA]) VALUES (N'B0002', N'BA-02', 1, 0)
INSERT [dbo].[BANAN] ([MABAN], [TENBAN], [COKHACH], [XOA]) VALUES (N'B0003', N'BA-03', 0, 0)
INSERT [dbo].[CTHOADON] ([MAHD], [MAMONAN], [TENMON], [SOLUONG], [KICHTHUOC], [GIA], [THANHTIEN], [XOA]) VALUES (N'HD00000001', N'MK001', N'Thịt bò', 2, 1, 60000, 120000, 0)
INSERT [dbo].[CTHOADON] ([MAHD], [MAMONAN], [TENMON], [SOLUONG], [KICHTHUOC], [GIA], [THANHTIEN], [XOA]) VALUES (N'HD00000001', N'MK003', N'Bò viên', 1, 1, 35000, 35000, 0)
INSERT [dbo].[CTHOADON] ([MAHD], [MAMONAN], [TENMON], [SOLUONG], [KICHTHUOC], [GIA], [THANHTIEN], [XOA]) VALUES (N'HD00000001', N'MK008', N'Tủy bò', 2, 1, 70000, 140000, 1)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MANVLAPDON], [MABAN], [TONGTIEN], [THANHTOAN]) VALUES (N'HD00000001', CAST(N'2023-05-20 00:00:00.000' AS DateTime), N'NV1', N'B0002', 917000, 1)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MANVLAPDON], [MABAN], [TONGTIEN], [THANHTOAN]) VALUES (N'HD00000002', CAST(N'2023-05-20 00:00:00.000' AS DateTime), N'NV1', N'B0001', 1118000, 1)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MANVLAPDON], [MABAN], [TONGTIEN], [THANHTOAN]) VALUES (N'HD00000003', CAST(N'2023-05-28 09:17:51.087' AS DateTime), N'NV1', N'B0001', 0, 0)
INSERT [dbo].[MONAN] ([MAMONAN], [TENMON], [KICHTHUOC], [GIA], [SOLUONG], [LOAIMONAN], [TRANGTHAI], [XOA]) VALUES (N'MK001', N'Thịt bò', 1, 60000, 100, 0, 1, 0)
INSERT [dbo].[MONAN] ([MAMONAN], [TENMON], [KICHTHUOC], [GIA], [SOLUONG], [LOAIMONAN], [TRANGTHAI], [XOA]) VALUES (N'MK002', N'Cá viên', 1, 30000, 100, 0, 1, 0)
INSERT [dbo].[MONAN] ([MAMONAN], [TENMON], [KICHTHUOC], [GIA], [SOLUONG], [LOAIMONAN], [TRANGTHAI], [XOA]) VALUES (N'MK003', N'Bò viên', 1, 35000, 99, 0, 1, 0)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [CMND], [CHUCVU], [XOA]) VALUES (N'NV1', N'Hào', CAST(N'2000-01-01' AS Date), N'0123456789  ', 1, 0)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [CMND], [CHUCVU], [XOA]) VALUES (N'NV2', N'Thông', CAST(N'2000-01-01' AS Date), N'0123456789  ', 1, 0)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [CMND], [CHUCVU], [XOA]) VALUES (N'NV3', N'Phương', CAST(N'2000-01-01' AS Date), N'0123456789  ', 1, 0)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [MANV], [XOA]) VALUES (N'adminH', N'202cb962ac59075b964b07152d234b70', N'NV1', 0)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [MANV], [XOA]) VALUES (N'adminP', N'202cb962ac59075b964b07152d234b70', N'NV3', 0)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [MANV], [XOA]) VALUES (N'adminT', N'202cb962ac59075b964b07152d234b70', N'NV2', 0)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TAIKHOAN__6C836FE55574BD9A]    Script Date: 28-May-23 9:20:37 AM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [UQ__TAIKHOAN__6C836FE55574BD9A] UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_MONAN] FOREIGN KEY([MAMONAN])
REFERENCES [dbo].[MONAN] ([MAMONAN])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_MONAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BanAn] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BANAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BanAn]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANVLAPDON])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
USE [master]
GO
